// --------------------------------------------------
// Functions
// --------------------------------------------------

.typewriter {
    // font-family: Courier, monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;

 	animation: typing 3s steps(5, end);
 	// animation-delay: 10s;
    white-space: nowrap;
    // font-size: 30px;
    // font-weight: 700;
    // border-right: 4px solid gray;
    box-sizing: border-box;
    vertical-align: bottom;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
