<div class="lgbg">
	<footer class="row align-center">
		<div class="small-12 medium-10 large-8 medium-centered columns b-ws-top b-ws-top-p b-ws-bottom">
			<div class="row">
				<div class="small-12 medium-4 columns">
				  {% include components/nav-footer.html %}
				</div>
				<div class="small-12 medium-4 columns">
				  {% include components/nav-footer-2.html %}
				</div>
				<div class="small-12 medium-4 columns">
					<div class="s scolor2 s-ws-bottom">
					Built with love at New Delhi, India
					</div>
					<div class="s scolor2" style="">
					Copyright © TVP. All rights reserved.
					</div>
				</div>
			</div>
		</div>	
	</footer>
</div>
{% include foot.html %}
