<script src="{{site.url}}/assets/js/all.js"></script>
<!-- <script src="{{site.url}}/assets/js/{% if page.js %}{{ page.js }}{% endif %}"></script> -->

<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4557883.js"></script> -->
<!-- End of HubSpot Embed Code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45177246-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45177246-5');
</script> -->
<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="https://js.hs-scripts.com/4557883.js"></script> -->
<!-- End of HubSpot Embed Code -->
<!-- <script type="text/javascript">
_linkedin_partner_id = "504115";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=504115&fmt=gif" />
</noscript> -->
<!-- LiveCall -->
<!-- <script async src="https://assets.livecall.io/accounts/7354/widget.js"></script> -->
</body>
</html>
