<div class="lgbg">
	<div class="grid-container">
		<footer class="grid-x align-center">
			<div class="small-12 medium-10 large-8 medium-centered cell b-ws-top b-ws-top-p b-ws-bottom">
				<div class="grid-x">
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer.html %}
					</div>
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer-2.html %}
					</div>
					<div class="small-12 medium-4 cell">
						<div class="s scolor2 s-ws-bottom">
							Built with love of life.
						</div>
						<div class="s scolor2" style="">
						<!-- Copyright © TVP. All rights reserved. -->
						</div>
					</div>
				</div>
			</div>	
		</footer>
	</div>
</div>
{% include foot.html %}
