<div class="lgbg">
	<!-- <div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="small-10 cell">
				<div class="grid-x grid-padding-x">
					<div class="small-4 cell">
						<a href="{{site.url}}/why-not-daos/">
							<div class="callout b hv a">
								<h5>Why DAOs are not it.</h5>
							</div>
						</a>
						<a href="{{site.url}}/enterprise/">
							<div class="callout b hv a">
								<h5>Evolution of human enterprise and the 'company' form</h5>
							</div>
						</a>
						<a href="{{site.url}}/tavo/">
							<div class="callout b hv a">
								<h5>How does a TAVO work? </h5>
							</div>
						</a>
					</div>
					<div class="small-4 cell">
						<a href="{{site.url}}/tavo/#governance">
							<div class="callout b hv a">
								<h5>Web3 governance is overrated</h5>
							</div>
						</a>
						<a href="{{site.url}}/tavo#init">
							<div class="callout b hv a">
								<h5>How to initiatize a TAVO? </h5>
							</div>
						</a>
						<a href="{{site.url}}/soch">
							<div class="callout b hv a">
								<h5>SOCH stablecoin | TAVO Showcase </h5>
							</div>
						</a>
					</div>
					<div class="small-4 cell">
						<a href="{{site.url}}/ecosystem/">
							<div class="callout b hv a">
								<h5>Network Ecosystem</h5>
							</div>
						</a>
						<a href="{{site.url}}/roadmap/">
							<div class="callout b hv a">
								<h5>Network Roadmap</h5>
							</div>
						</a>
						<a href="{{site.url}}/tavo/">
							<div class="callout b hv a">
								<h5>Network Playbook</h5>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="grid-container">
		<footer class="grid-x align-center">
			<div class="small-12 large-10 align-center cell b-ws-top b-ws-top-p b-ws-bottom">
				<div class="grid-x grid-padding-x">
					<div class="small-12 cell">
						<p class="scolor3">Continue the dive:</p>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer.html %}
					</div>
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer-2.html %}
					</div>
					<div class="small-12 medium-4 cell">
						{% include components/nav-footer-3.html %}
						<!-- <div class="s scolor2 s-ws-bottom">
							Built with love for existence.
						</div> -->
						<!-- <div class="s scolor2" style=""> -->
						<!-- Copyright © TVP. All rights reserved. -->
						<!-- </div> -->
					</div>
				</div>
				<div class="grid-x">
					<div class="small-12 cell b-ws-top text-center">
						<div class="s scolor2 s-ws-bottom">
							Built with love, for existence.
						</div>
					</div>
				</div>
			</div>	
		</footer>
	</div>
</div>
{% include foot.html %}
