{% include head.html %}

<header>
	<div class="grid-container">
		<div class="grid-x s-ws-top">
			<div class="large-3 medium-4 small-8 cell s-ws-top">
				<div class="grid-x ">
					<div class="small-3 cell" style="padding-right: 0.4em">
						<a href="{{site.url}}" class="nbr np">
							<img src="{{site.url}}/assets/img/logo-small.svg" style="margin-top:-8px;">
						</a>
					</div>
					<div class="small-9 np shrink cell">
						<a href="{{site.url}}" class="nbr">
							<h2 style="line-height: 0.7"><span class="sans2 bkc nm" style="line-height:1;">BUIDLer</span> <br>
							<span class="sans bkc s3" style="line-height:1; font-weight: 200;"><span class="bc bold">.</span>network</span></h2>
						</a>
					</div>
					<!-- <div class="small-5 cell" style="border-left:1px solid #dedede;"> -->
						<!-- <h1 class="sans2 bold bc s-ws-top">Culture</h1> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="small-12 medium-8 large-9 cell s-ws-top">
				<ul class="menu align-right hover">
					{% include components/nav-menu.html %}
				</ul>
			</div>
		</div>
	</div>
</header>
