{% include head.html %}

<header>
	<div class="grid-container">
		<div class="grid-x">
			<div class="large-3 medium-4 small-8 cell s-ws-top">
				<div class="grid-x grid-padding-x">
					<div class="small-4 cell">
						<a href="{{site.url}}" class="nbr">
							<img src="{{site.url}}/assets/img/buidl-network-logo.png" style="margin-top:0.25em">
						</a>
					</div>
					<div class="small-8 np shrink cell">
						<a href="{{site.url}}" class="nbr">
							<h2><span class="sans2 bkc nm f-1-5x" style="line-height:1;"> BUIDL </span> <br>
							<span class="sans bkc" style="line-height:1; font-weight: 200;">net<span class="bc bold">.</span>work</span></h2>
						</a>
					</div>
					<!-- <div class="small-5 cell" style="border-left:1px solid #dedede;"> -->
						<!-- <h1 class="sans2 bold bc s-ws-top">Culture</h1> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="small-12 medium-8 large-9 cell m-ws-top">
				<ul class="menu align-right hover">
					{% include components/nav-menu.html %}
				</ul>
			</div>
		</div>
	</div>
</header>
