---
layout: bare
title: Blog
description: The journal for all our experiments
---
<div style="border-bottom: 1px solid #dedede;" class="s-ws-bottom-p lgbg">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="small-6 medium-4 small-centered cell text-center">
        <img src="{{site.url}}/assets/img/apollo.jpg" >
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-4 large-offset-3 medium-5 medium-offset-2 small-8 small-offset-2 cell s-ws-top">
        <div class="grid-x grid-padding-x">
          <div class="small-4 shrink cell" style="border-right: 1px solid #dedede;">
            <a href="{{site.url}}">
              <h2 class="sans2 bkc" style="line-height:1;">The <br> Vantage <br>Project</h2>
            </a>
          </div>
          <div class="small-8 cell" >
            <h1 class="sans2 bold bc" style=" margin-top: 0.25em;">Journal</h1>
            <p class="nm">Log of our experiments</p> 
          </div>
        </div>
      </div>
      <div class="small-12 medium-5 cell s-ws-top xs-ws-top-p">
        <ul class="menu align-right hover">
          <li><a href="{{site.url}}/careers" class="dbc">Careers</a></li>
          <li><a href="{{site.url}}/playbook" class="dbc">Playbook</a></li>
          <li><a href="{{site.url}}/buidl" class="dbc active">Buidl</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 large-5 medium-8  cell m-ws-top-p articles">
      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
      {% unless post.categories contains "bootcamp"%}
      <p class="post-meta scolor3 s nm m-ws-top-p">{{ post.date | date: '%B %d, %Y' }}</p>
      <h3 class="nm" style="line-height: 1"><a href="{{ post.url }}" class="dbc s">{{ post.title }}</a></h3>
      {{ post.excerpt }}
      <!-- <a href="{{ post.url }}">Read more...</a> -->
      {% endunless %}
      {% unless forloop.last %}
      {% endunless %}

      {% endfor %}


      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <nav class="text-center">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li class="arrow"><a href="{{ paginator.previous_page_path | replace: '/index.html', '' }}">&laquo;</a></li>
          {% else %}
          <li class="arrow unavailable"><a>&laquo;</a></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
          <li class="current"><a>{{ page }}</a></li>
          {% elsif page == 1 %}
          <li><a href="{{ site.paginate_path | replace: '/seite:num', '' }}">{{ page }}</a></li>
          {% else %}
          <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
          <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
          {% else %}
          <li class="arrow unavailable"><a>&raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
