---
layout: compress
---

{% include head.html %}
<div class="lgbg b-ws-top-p b-ws-bottom-p">
	<div class="grid-container">
		<div class="grid-x">
			<div class="large-3 large-offset-3 medium-4 hack medium-offset-2 small-8 small-offset-2 cell s-ws-top">
				<div class="grid-x ">
					<div class="small-5 shrink cell">
						<a href="{{site.url}}">
							<h2 class="sans2 bkc f-2x" style="margin-top: 0.15em;">BUIDL Labs</h2>
						</a>
					</div>
					<div class="small-6 cell">
						<h1 class="sans2 bold scolor"><span class="blinking-cursor">|</span> Careers</h1>
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 cell xs-ws-top">
				<ul class="menu align-right hover">
					<li><a href="{{site.url}}/careers" class="dbc active">Careers</a></li>
					<li><a href="{{site.url}}/culture" class="dbc">Culture</a></li>
					<li><a href="https://www.thevantageproject.com/playbook/" class="dbc">Playbook</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="lgbg section-1a hides">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-offset-1 medium-7 cell m-ws-top">
				<div class="grid-x hack1">
					<div class="small-4 cell">
						<div class="secondary progress progress-1 scolor3bg" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
						  <div class="progress-meter" style="width: 0%"></div>
						</div>
					</div>
					<div class="small-4 cell">
						<div class="secondary progress-2 progress scolor4bg" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
						  <div class="progress-meter" style="width: 0%"></div>
						</div>
					</div>
					<div class="small-4 cell">
						<div class="secondary progress-3 progress scolor4bg" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
						  <div class="progress-meter" style="width: 0%"></div>
						</div>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="small-12 cell text-right">
						<p><span class="v1">1</span> out of 10 questions</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="lgbg">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-offset-1 medium-7 cell b-ws-bottom-p">
				<div class="wbg">
					<div class="grid-x grid-padding-x b-ws-top-p">
						<div class="medium-10 medium-offset-1 small-12 cell xs-ws-top s-ws-bottom sectionwrapper">
							<div class="section-0 section">
								<h2>{{page.title}}</h2>
								<p class="s">{{page.statement}}</p>
								{{ content }}
								<h5 class="m-ws-top">What does success deliver</h5>
								<p class="nm"><span class="bkc">{{page.pay}}</span>: {{page.paydesc}}</p>
								<p class="nm"><span class="bkc"> {{page.base}} per month</span>: Base Pay</p>
								<a href="#" class="ibtn">How does this work?</a>
								<p class="s3">//todo: figure out the right way to say this. Also check if there are some qualitative aspects to be added.</p>
								<h5 class="m-ws-top">Individuals you'd be working with</h5>
								<a href="{{site.url}}/team#{{page.lurl}}">
									<div class="callout hv b">
										<div class="grid-x grid-padding-x">
											<div class="small-3 cell">
												<img src="{{site.url}}/assets/img/{{page.limg}}" class="circle-img">
											</div>
											<div class="small-9 cell">
												<p class="bkc bold nm">{{page.lfullname}}</p>
												<p class="s2">Junior partner you'd be led by</p>
												<p class="s nm">{% assign lead = site.data.team[page.lname] %}
												{{lead.bio}}</p>
											</div>
										</div>
									</div>
								</a>
								<div class="m-ws-top">
								{% for individual in site.data.team[page.lname].individuals %}
							  	<a href="{{site.url}}/team#{{individual.url}}">
								  	<div class="grid-x grid-padding-x hvg">
									  	<div class="small-2 cell s-ws-left-p">
									  		<div class="s-ws-left-p">
										  		<img src="{{site.url}}/assets/img/{{individual.img}}" class="circle-img">
										  	</div>
									  	</div>
									  	<div class="small-10 cell">
									     <p class="bold bkc nm">{{ individual.name }}</p>
									     <p class="s2 scolor">Blockchain Engineer</p>
										  </div>
										</div>  
									</a>
								{% endfor %}
								</div>
							</div>
							<div class="section-1-trs hides section">
								<p class="nm scolor2">Preparing your application</p>
								<div class="secondary progress progress-0" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0"  aria-valuemax="100">
								  <div class="progress-meter" style="width:0%"></div>
								</div>
								<p class="h5">This is for you.</p>
								<ul>
									<li>This is a 3 step process. 4 thoughts per step.</li>
									<li>Step 1 and 2 are for your mind. They are for you to see if you are a fit here, in real. Do take your time.</li>
									<li>Hence, focus on the truth. There are no correct answers. Only thoughts that are yours.</li>
									<!-- <li>This is a 3 step process.</li> -->
								</ul>
							</div>
							<div class="section-1 section hides">
								<div class="q-1 q">
									<ol>
										<li class="h4">Estimate the number of haircuts that happen in India in an year, without using the internet. Explain your approach.</li>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>
								<div class="q-2 q hides">
									<ol start="2">
										<li class="h4">What is a self-achieved accomplishment in your field of work, that you are proud of?</li>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>
								<div class="q-3 q hides">
									<ol start="3">
										<li class="h4">What was the last time, that ended up astonished by your ability (in any sphere)?</li>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>	
								<div class="q-4 q hides">
									<ol start="4">
										<li class="h4">Who was the last person that offended you? And what happened.</li>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>		
							</div>
							<div class="section-2-trs hides section">
								<p class="nm scolor2">Preparing your Step 2</p>
								<div class="secondary progress progress-4" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0"  aria-valuemax="100">
								  <div class="progress-meter" style="width:0%"></div>
								</div>
								<p class="h5">We urge you to think mindfully, at this step. You will need it.</p>
								<ul>
									<li>Spend mindspace.</li>
									<li>Again, there are no right answers.</li>
									<!-- <li>Hence, focus on the truth. There are no correct answers. Only thoughts that are yours.</li> -->
									
								</ul>
							</div>
							<div class="section-2 hides section">
								<div class="q-5 q">
									<ol>
										<li class="h4">Estimate your (prospective) team leader's shoe size. Explain your approach.</li>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>
								<div class="q-6 q hides">
									<ol start="2">
										<li class="h5 scolor2">What is a self-achieved accomplishment in your field of work, that you are proud of?</li>
										<p class="scolor2">A long answer to serve as placehold for the applican't answer to the question above in step 1.</p>
										<p class="h4 nm">What makes it worthy of the pride?</p>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>
								<div class="q-7 q hides">
									<ol start="3">
										<li class="h5 scolor2">What was the last time, that ended up astonished by your ability (in any sphere)?</li>
										<p class="scolor2">A long answer to serve as placehold for the applican't answer to the question above in step 1.</p>
										<p class="h4 nm">What did you do, that enabled uncovering of the limit's farce?</p>
										<textarea placeholder="Breathe. Take your time. Then attempt writing ..." rows="7" class="naked"></textarea>
									  <div class="charcount" style="display: none;"></div>
									</ol>
								</div>	
								<div class="q-8 q hides">
									<ol start="4">
										<li class="h5 scolor2">Who was the last person that you thought ill of? And what happened.</li>
										<p class="scolor2">A long answer to serve as placehold for the applican't answer to the question above in step 1.</p>
										<p class="h4 nm">Think about it. Sans ego.</p> <!-- todo 60 second countdown. -->
										<p class="f-1-25x scolor2">Does it really/still matter?</p> <!-- todo -->
										<div class="grid-x grid-padding-x">
											<div class="small-6 cell v2">
												<p class="callout hv b ibtn dbc">Yes. <br> That person was wrong.</p>
											</div>
											<div class="small-6 cell">
												<p class="callout hv b ibtn dbc">No. What offends me, is my prerogative.</p>
											</div>
										</div>
									</ol>
								</div>		
							</div>
							<div class="section-3-trs hides section">
								<div class="grid-x grid-padding-x">
									<div class="small-2 cell">
										<img src="{{site.url}}/assets/img/{{page.limg}}" class="circle-img" style="padding-right: 0;">
									</div>
									<div class="small-10 cell dialog1">
										<p class="h5 nm">{{page.lname}} from the team, has been summoned.<br> Hold on.</p>
										<p>We will now spend some time to get to know your mindspace. This may take a while.</p>
										<p>Please make sure you have saved your application.</p>
									</div>
								</div>
								
							</div>
							<div class="section-3 section hides">
								<div class="q-9 q">
									<!-- <h5 class="">We are going through your thoughts.</h5> -->
									<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum mauris sed vehicula ullamcorper. In semper volutpat neque eget malesuada.</p> -->
									<p>In the meanwhile:</p>
									<ol class="b-ws-top">
										<li class="h5 nm">Please link us to your Best Work</li>
										<p class="s nm">Best is only one. Make a choice.</p>
										<input type="url" class="naked brbtm f-11x" placeholder="http://">
										<li class="h5 nm m-ws-top-p">Please link us to your Best Failure</li>
										<p class="s nm">You may qualify it as you wish.</p>
										<input type="url" class="naked brbtm f-11x" placeholder="http://">
										<!-- processing -->
										<!-- next step will be a work task. -->
									</ol>
								</div>
								<div class="q-10 q hides">
									<div class="m-ws-top">
										<p class="h5">Thank you.</p>
										<p>Next step will be a work task. We are processing your application to choose the appropriate one.</p>
										<p>We will reach back to you on your email within the next 12 hours.</p>
									</div>
								</div>		
							</div>
							<div class="section-4 hides section">
								<div class="">
									<ol>
										<li class="h4">We find you to not be a fit</li>
										<!-- <textarea placeholder="Stop. Think. And start writing ..." rows="4" class="naked"></textarea> -->
									</ol>
								</div>		
							</div>
							<div class="sectioncontroller hides">
								<div class="grid-x align-right grid-padding-x">
									<div class="small-4 cell s-ws-top">
										<div class="button fullwidth nm">Next <i class="fas fa-angle-right"></i></div>
									</div>
								</div>		
							</div>
						</div>
					</div>
					<div class="lgbg section-0a">
						<div class="grid-x grid-padding-x align-center b-ws-top-p b-ws-top">
							<div class="medium-10 small-12 cell">
								<h3>Let's get to know each other</h3>
								<div class="grid-x align-center b-ws-bottom m-ws-top">
									<div class="small-6 cell">
										<a>
											<div class="callout hv b">
												<p class="dbc bold nm">Our Culture <i class="fas fa-angle-right bc"></i></p>
												<p class="s2">What environment should you expect</p>
											</div>
										</a>
									</div>
									<div class="small-4 small-offset-2 cell text-right s-ws-top">
										<div class="button large fullwidth trg1">Apply</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell medium-3 hide-for-small-only">
				<div class="callout nbr">
					<div class="st-0a st">
						<div class="btn trg2">Resume your Application</div>
						<div class="btn dbc trg1">Start a new Application</div>
						<form class="hides flogin">
						<label>Your Email<input type="email" class="naked brbtm" placeholder="Type your email here"></label>
						<input type="submit" name="" value="Resume" class="button fullwidth nm">
						</form>
					</div>
					<div class="st-0 st hides">
						<p class="dbc bold nm">Login in to your Saved Applications</p>
						<form class="flogin">
						<label>Your Email<input type="email" class="naked brbtm" placeholder="Type your email here"></label>
						<input type="submit" name="" value="Resume" class="button fullwidth nm">
						</form>
					</div>
					<div class="st-1a st hides">
						<div class="grid-x">
							<div class="small-2 cell">
								<video width="21px" height="21px" autoplay muted loop class="syncloader0a" style="margin-top:3px;">
								  <source src="{{site.url}}/assets/video/0.mp4" type="video/mp4">
								</video>
								<img src="{{site.url}}/assets/img/1.gif" width="21px" style="display: none;" class="syncloader0b">
							</div>
							<div class="small-10 cell" style="margin-top:3px;">
								<p class="nm s syncloader0c">Syncing your changes</p>
								<p class="nm s syncloader0d" style="display: none;">Synced</p>
							</div>
						</div>
					</div>
					<div class="st-1b st hides" style="margin-top:1em; border-top: 1px solid #eee;">
						<div class="btn">Save your Application</div>
					</div>
					<div class="st-1 st hides">
						<p class="dbc bold nm">Save your progress</p>
						<form class="fsignup s-ws-top">
							<label>Your Name<input type="url" class="naked brbtm" placeholder="Tell us what to call you"></label>
							<label>Your Email<input type="url" class="naked brbtm" placeholder="You will use this to login"></label>
							<!-- <label>Your Mobile<input type="url" class="naked brbtm" placeholder="What are your digits"></label> -->
							<input type="submit" class="button fullwidth" value="Save Application">
						</form>
						<p class="nm bold s m-ws-top-p dbc">Nothing is more important than your trust</p>
						<p class="s2 nm">All data is purged every 30 days.</p>
						<p class="s2 nm">Unless you consent otherwise by choosing to be informed of future updates or get hired.</p>
					</div>
					<div class="st-2 st hides">
						<hr>
						<h5>Tell us more about you</h5>
						<form class="fupdateinfo">
							<label>Your LinkedIn<input type="url" class="naked brbtm" placeholder="http://"></label>
							<label>Your Twitter<input type="url" class="naked brbtm" placeholder="http://"></label>
							<label>Your Github<input type="url" class="naked brbtm" placeholder="http://"></label>
							<label>Resume<input type="url" class="naked brbtm" placeholder="http://"></label>
							<label>Custom Link<input type="url" class="naked brbtm" placeholder="http://"></label>
							<input type="submit" class="button fullwidth" value="Update Info">
						</form>
					</div>
				</div>
		    <div class="sticky-container hide" data-sticky-container>
		      <div class="sticky" data-sticky data-sticky-on="medium">
						<div class="h-4">
	      			// if you felt reluctance inside you at the moment of reading the question, perhaps you are unprepared for self-growth. Growth is uncomfortable. An individual that is easily perturbed may not be a good fit.
	      		</div>
		      	<div class="grid-x grid-padding-x">
		      		<div class="small-6 cell">
				        <!-- <div class="hvg"> -->
									<img src="{{site.url}}/assets/img/{{page.limg}}" class="circle-img s-ws-top">
								<!-- </div> -->
								<!-- <p class="s3 scolor xs-ws-top">You'll be joining <span class="bkc u bold"> {{page.lname}}</span>'s team</p> -->
							</div>
			      </div>
			    </div>
		    </div>
			</div>
		</div>
	</div>
</div>
<div class="wbg b-ws-bottom-p b-ws-bottom">
	<div class="grid-container">
		<div class="grid-x">
			<div class="large-6 large-offset-3 medium-5 hack medium-offset-2 small-12 small-offset-2 cell s-ws-top">
			<h4 class="m-ws-top s-ws-left">Open Positions</h4>
				{% for item in site.jobs %}
				<div class="grid-x align-center">
					<div class="small-10 cell s-ws-top">
						<a href="{{item.url}}">
							<div class="callout hv b">
								<p class="dbc bold nm">{{ item.title }}</p>
								<p class="s">{{item.statement}}</p>
								<p class="s2 nm">Base pay: <span class="bkc">{{item.base}} per month</span></p>
								<p class="s2">{{item.paydesc}} : <span class="bkc">{{item.pay}}</span></p>
							</div>
						</a>
					</div>
					<div class="small-2 cell s-ws-left-p">
						<a href="{{site.url}}/team#{{item.llink}}">
							<div class="s-ws-right-p hvg">
								<img src="{{site.url}}/assets/img/{{item.limg}}" class="circle-img s-ws-top">
							</div>
							<p class="s3 scolor xs-ws-top">You'll be joining <span class="bkc u bold"> {{item.lname}}</span>'s team</p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% include footer.html %}