---
layout: compress
---

{% include head.html %}
<div class="lgbg b-ws-top-p b-ws-bottom-p">
	<div class="grid-container">
		<div class="grid-x">
			<div class="large-3 large-offset-3 medium-4 hack medium-offset-2 small-8 small-offset-2 cell s-ws-top">
				<div class="grid-x grid-padding-x">
					<div class="small-3 cell np">
						<a href="{{site.url}}">
							<img src="{{site.url}}/assets/img/logo.png" style="margin-top:0.25em">
						</a>
					</div>
					<div class="small-4 shrink cell xs-ws-top">
						<a href="{{site.url}}" class="">
							<h1 class="sans2 bkc nm" style="line-height:1;">BUIDL</h1>
							<h2 class="sans bkc" style="line-height:1; font-weight: 200;">labs</h2>
						</a>
					</div>
					<div class="small-5 cell" style="border-left:1px solid #dedede;">
						<h1 class="sans2 bold bc s-ws-top">Careers</h1>
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 cell xs-ws-top">
				<ul class="menu align-right hover">
					<li><a href="{{site.url}}/careers" class="dbc active">Careers</a></li>
					<li><a href="{{site.url}}/culture" class="dbc">Culture</a></li>
					<li><a href="https://www.thevantageproject.com/playbook/" class="dbc">Playbook</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="lgbg">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-offset-1 medium-7 cell b-ws-bottom-p">
				<div class="wbg">
					<div class="grid-x grid-padding-x b-ws-top-p">
						<div class="medium-10 medium-offset-1 small-12 cell xs-ws-top s-ws-bottom b-ws-bottom-p">
								<h2>{{page.title}}</h2>
								<p class="s">{{page.statement}}</p>
								{{ content }}
								<h5 class="m-ws-top">What does success deliver</h5>
								<p class="nm"><span class="bkc">{{page.pay}}</span>: {{page.paydesc}}</p>
								<p class="nm"><span class="bkc"> {{page.base}} per month</span>: Base Pay</p>
								<a href="#" class="ibtn">How does this work?</a>
								<!-- <p class="s3">//todo: figure out the right way to say this. Also check if there are some qualitative aspects to be added.</p> -->
						</div>
					</div>
				</div>
			</div>
			<div class="cell medium-3 small-12">		
				<h5 class="m-ws-top">Individuals you'd be working with</h5>
				<a href="{{site.url}}/team#{{page.lurl}}">
					<div class="callout hv b">
						<div class="grid-x grid-padding-x">
							<div class="small-3 cell np">
								<img src="{{site.url}}/assets/img/{{page.limg}}" class="circle-img">
							</div>
							<div class="small-9 cell">
								<p class="bkc bold nm">{{page.lfullname}}</p>
								<p class="s2">Junior partner you'd be led by</p>
							</div>
							<div class="small-12 cell np">
								<p class="s nm">{% assign lead = site.data.team[page.lname] %}
								{{lead.bio}}</p>
							</div>
						</div>
					</div>
				</a>
				<div class="m-ws-top">
				{% for individual in site.data.team[page.lname].individuals %}
			  	<a href="{{site.url}}/team#{{individual.url}}">
				  	<div class="grid-x grid-padding-x hvg">
					  	<div class="small-3 np cell ">
					  		<div class="s-ws-left-p">
						  		<img src="{{site.url}}/assets/img/{{individual.img}}" class="circle-img">
						  	</div>
					  	</div>
					  	<div class="small-9 cell">
					     <p class="bold bkc nm">{{ individual.name }}</p>
					     <p class="s2 scolor">Blockchain Engineer</p>
						  </div>
						</div>  
					</a>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dbbg" style="margin-top:-7em; padding-top:9em;">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-offset-1 medium-7 cell b-ws-bottom-p">		
				<div class="grid-x grid-padding-x align-center">
					<div class="medium-10 small-12 cell">
						<h3 class="wc">Let's get to know each other</h3>
						<div class="grid-x align-center b-ws-bottom m-ws-top">
							<div class="small-6 cell">
								<a href="{{site.url}}/culture">
									<div class="callout hv b wc nbg">
										<p class=" bold nm">Our Culture <i class="fas fa-angle-right bc"></i></p>
										<p class="s2 wcolor2">What environment should you expect</p>
									</div>
								</a>
							</div>
							<div class="small-5 small-offset-1 cell text-right s-ws-top">
								<div class="button large fullwidth white"><img src="https://image.flaticon.com/icons/svg/2111/2111614.svg" width="24px;" style="margin-right: 0.5em"> Apply on Slack</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
</div>
<div class="lgbg b-ws-bottom-p b-ws-bottom">
	<div class="grid-container">
		<div class="grid-x">
			<div class="large-6 large-offset-3 medium-5 hack medium-offset-2 small-12 small-offset-2 cell s-ws-top">
			<h4 class="m-ws-top s-ws-left">Open Positions</h4>
				{% for item in site.jobs %}
				<div class="grid-x align-center">
					<div class="small-10 cell s-ws-top">
						<a href="{{item.url}}">
							<div class="callout hv b">
								<p class="dbc bold nm">{{ item.title }}</p>
								<p class="s">{{item.statement}}</p>
								<p class="s2 nm">Base pay: <span class="bkc">{{item.base}} per month</span></p>
								<p class="s2">{{item.paydesc}} : <span class="bkc">{{item.pay}}</span></p>
							</div>
						</a>
					</div>
					<div class="small-2 cell s-ws-left-p">
						<a href="{{site.url}}/team#{{item.llink}}">
							<div class="s-ws-right-p hvg">
								<img src="{{site.url}}/assets/img/{{item.limg}}" class="circle-img s-ws-top">
							</div>
							<p class="s3 scolor xs-ws-top">You'll be joining <span class="bkc u bold"> {{item.lname}}</span>'s team</p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% include footer.html %}